---
<<<<<<< HEAD
import logo from "@assets/Images/logo.svg";
import Base from "@layouts/Base.astro";
---

<Base>
	<div class="flex flex-col">
		<main class="flex grow justify-center">
			<div class="flex grow self-center">
				<div class="container text-center grid  justify-items-center">
					<picture>
						<source srcset={logo.src} />
						<img alt="BlackRainbow" src={logo.src} class="max-w-screen-sm" />
					</picture>
				</div>
			</div>
		</main>
	</div>
</Base>
=======
import Base from "@layouts/Base.astro";
---

<Base />
>>>>>>> upstream/main
