---
import Logo from "@Asset/Image/Logo.svg";
const Base = (await import("@Layout/Base.astro")).default;
---

<Base>
	<div class="flex flex-col">
		<main class="flex grow justify-center">
			<div class="flex grow self-center">
				<div class="container grid justify-items-center text-center">
					<picture>
						<source srcset={Logo.src} />
						<img
							alt="BlackRainbow"
							src={Logo.src}
							class="max-w-screen-sm"
						/>
					</picture>
				</div>
			</div>
		</main>
	</div>
</Base>
